extends layouts/main
block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#') GYM 
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto 
                li.nav-item.active
                    a.nav-link(href='#')
                        | Home 
                li.nav-item
                    a.nav-link(href='#') 
                        | About


    div.container
        div.row
            div.col-md-6
                form(action="" method="post")
                    div.form-group
                        label(for="password") New Password
                        input(type="text" class="form-control" name="password")
                    button(type="submit" class="btn btn-primary") Submit